<html>

<body>
<a href="http://localhost:8080/">На главную</a>
<a href="http://localhost:8080/client">Назад</a>

<table>
    <tr>
        <th>Client ID</th>
        <th>NAME</th>
        <th>AGE</th>
    </tr>

    {{#clients}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{age}}</td>
    </tr>
    {{/clients}}
</table>

</body>
</html>