<html>

<head>
    <title>JAVA BANK</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div>JAVA BANK</div>
    <div>
        <a href="http://localhost:8080/client">Клиенты</a>
    </div>

    <div>
        <a href="http://localhost:8080/account">Счета</a>
    </div>

    <div>
        <a href="http://localhost:8080/transaction">Денежные операции</a>
    </div>

</body>
</html>